.ui-widget {
	font-size:12px !important;
}
.dialog-form-error {
  background: url("/images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x scroll 50% 50% #FEF1EC;
  border: 1px solid #CD0A0A;
  color: #CD0A0A;
}
.floating_dialog label, input{
    display: block;
}
.floating_dialog input.text {
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;
}
.validateTips {
    border: 1px solid transparent;
    font-size: 13px;
    line-height:18px;
    padding: 8px;
}
.floating_dialog fieldset {
    border: 0 none;
    margin-top: 16px;
    padding: 0;
}