.ui-widget {
	font-size:12px !important;
}
.dialog-form-error {
  background: url("/images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x scroll 50% 50% #FEF1EC;
  border: 1px solid #CD0A0A;
  color: #CD0A0A;
}
.ui-widget-overlay{
  background:transparent;
}