<div id="console_main">
  <div class="CodeMirror" id="console_main_warpper">
    <pre id="console_main_content"></pre>
  </div>
</div>
<%content_for :butt do%>
<script type="text/javascript" charset="utf-8">
  T2Ku.window_resize_handler = function(){
    var wid = window.innerWidth ? window.innerWidth : b(window).width(),
        hei = window.innerHeight ? window.innerHeight : b(window).height();
    $('#console_main').height(hei-91);
    $('#console_main_warpper').height(hei-131);
  }
  T2Ku.window_resize_handler();
  $(window).resize(T2Ku.window_resize_handler);
  jQuery(function(){
    window.T2KuConsole = new T2Ku.Views.Console({
      el:$('#console_main_content')
    });
  });
</script>
<%end%>