  <div id='home_index_main'>
        <img alt="the Semantic Wiki of Mathematics" id="logo_up_white" src="/images/logo_up_white.png" />
        <img alt="Logo_down_white" src="/images/logo_down_white.png" />
        <p>
          <a href='http://en.t2ku.org'>English</a>
          <span class='separator'>&nbsp;|&nbsp;</span>
          <a href='http://zh.t2ku.org'>中文</a>
        </p>
    </div>
  </body>