<div id="reader">
	<div id="leftcol">
		<div id="booktitle" class="item">
			<%= @book.name %>
			<div class="lhn-selectors lhn-menubutton"></div>
			<div class="lhn-selectors lhn-minimize"></div>
		</div>
		<div id="content_of_booktitle">
			<div class="item">
				(No content yet)
			</div>
		</div>
	</div>
	<div id="midcol">
	</div>
	<div id="rightcol">
		content
	</div>
	<%= clear %>
</div>