<div class="section" id="">
  <h1><%= @item.name %><span class="edit_span">[ <%= link_to 'Edit this Page',edit_book_item_path(@book,@item) %> ]</span></h1>
  <p><%=raw @item.page.formatted_data %></p>
  
  <h2>Recent Edits</h2>
</div>