/*
 *= require ./application/subheader
 *= require ./application/innerright
 *= require ./bookview/basic
 *= require_tree ./bookview
 *= require_self
*/
header{
  font-family:Geneva,Tahoma,Arial,sans-serif;
  a {
      color: #C9C3E5;
      text-decoration: none;
  }
  a:hover {
      color: #73B0FF;  
      text-decoration: none;
  }  
  h1, h2, h3 {
      font-family: "CorbelRegular","Corbel","Helvetica Neue",Helvetica,sans-serif;
  }

  ul.submenu {
      display: block;
      overflow: hidden;
      padding-top: 5px;
  }
  ul.submenu {padding-left:21px}
}

.app{
  margin-right:0 !important;
  h1{
    margin:0 !important;
  }
}
#subheader .submenu {
    margin: 4px 0 0 !important;
}


.ui-widget {
    font-size: 12px;
}
.ui-widget .ui-widget {
    font-size: 12px;
}
