#footer
  %p
    &copy; 2011
    = succeed ',' do
      %a{target:"_blank", href:"http://ofpsvr.org"} Minqi Pan
    = succeed '.' do
      %a{target:"_blank", href:"http://202.204.208.109/mathpage/"} CNUniv
    Inspired by 
    = succeed '.' do
      %a{target:"_blank", href:"http://www.heroku.com/"} Heroku