<p style="text-align:center" id="heroku-footer-p">
  
  
  &copy; 2011
  <a href="http://ofpsvr.org" target="_blank">Minqi Pan</a>,
  <a href="http://202.204.208.109/mathpage/" target="_blank">CNUniv</a>.
  Inspired by
  <a href="http://www.heroku.com/" target="_blank">Heroku</a>.

</p>